html{
font-size:10px;
}

.Title{
color:brown;
font-size:35px;
font-style: italic;
}

.gamebox{
background-color: darkgray;
width:10rem;
height:10rem;
color:black;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
font-size:8rem;
border:1px solid black;
}
.board{
width:min-content;
margin-top:2rem;
display: grid;
grid-template-columns: repeat(3,1fr);
/*OR
grid-template-columns:1fr 1fr 1fr*/
}
.Reset{
display: flex;
align-items: center;
justify-content: center;
margin-top: 2rem;
}
.full-game{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
min-width: 100vw;
background-image: url("https://wallpaperaccess.com/full/2078959.jpg");
background-size: cover;
background-position: bottom;
}
.LeaderBoard{
display: flex;
flex-direction: column;
align-items: center;
background: purple;
opacity: 0.9;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
border-radius: 2rem;
padding:2.5rem;
margin: 1.5rem 0;
}

td{
margin:1rem;
width:6rem;
padding:2rem;
font-size:4rem;
font-weight: bold;
}
table,td{
border:2px solid black;
border-collapse: collapse;
}
.winner{
font-size:3rem;
}
.leadertext{
font-size:3.4rem;
font-variant: small-caps;
letter-spacing: 3px;
color: black;
margin: 0;
}
.btns{
display: flex;
}
.Info{
font-size:3rem;
color:brown;
background-color: darkgray;
padding:0.5rem;
border-radius:1rem;
}